html {
    font-size: 16px;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: #2c2a4a;
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10%;
}

/* desktop screen*/ 
@media (min-width: 1024px) and (max-width: 1680px) {
    
}

/*tablet and desktop screen*/ 
@media { 
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem
    }
    nav a {
        font-size: 2rem;
    }

}

/*phone screen*/ 
@media (max-width: 450px){
    html 
        { font-size: 10px;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    nav a { 
        font-size: 1rem; 
    }

}

header, footer {
    grid-column: 2 / 3;
    background-color: rgb(245, 245, 249);
    color: #2c2a4a ;
    padding:;
    text-align: center;
    border: #f6f9f9 2px solid;;
    margin-top: 10%;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif #2C2A4A;
}

.navbar {
    grid-column: 2 / 3;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    background-color: #2c2a4a ;
    border: #f6f9f9 2px solid;

}
.navbar a { 
    text-align: center;
    font-size: 20px;
    padding: 5px;
    color: #f6f9f9;
}

.left {
    grid-column: 1 / 2;
}

main {
   grid-column: 2 / 3
}

.right {
    grid-column: 3 /4;
}


main {
    overflow: hidden;
    text-align: center;
    color: #2C2A4A;
    border: #f6f9f9 2px solid;
    margin: ;
    background-color: #f6f9f9;

    
}

#main-section { 
    background-color: rgb(245, 245, 249);
    padding: 10px;

}
.section {
    background-color:
}

#me {
    width: 50%;
    height: 50%;
    float: left;

} 

#donna {
    float: right;
    height: 50%;
    width: 50% 
}

.portfolio { 
    float: left;
    overflow: hidden;
    width: 300px;
    margin: 5px;
}

article {
    text-align: left;
    width: 90%;
    margin: 5px;
    padding: 10px
}


