body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: #DABFFF;
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    border: ; 
}

header, footer {
    grid-column: 2 / 3;
    background-color: #f6f9f9;
    color: #2C2A4A ;
    padding:;
    text-align: center;
    border: 10px #907AD6 solid;
    margin: ;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif #2C2A4A;
}

.navbar {
    grid-column: 2 / 3;
    text-align: center;
    border: 10px #907AD6 solid;
    justify-content: space-evenly;

}

.navbar a { 
    text-align: center;
    border: 5 #907AD6 solid;
}

.left {
    grid-column: 1 / 2;
}

main {
   grid-column: 2 / 3
}

.right {
    grid-column: 3 /4;
}


main {
    overflow: hidden;
    text-align: center;
    color: #2C2A4A;
    border: 10px #907AD6 solid;
    margin: 
}

#main-section { 
    background-color: rgb(245, 245, 249);

}

#me {
    width: 50%;
    height: 50%;
    float: left;

} 

#donna {
    float: right;
    height: 50%;
    width: 50% 
}

.portfolio { 
    float: left;
    overflow: hidden;
    width: 300px;
    margin: 5px;
}

article {
    text-align: left;
    width: 90%;
    margin: 5px;
    padding: 10px
}


